@import url(/assets/styles/form.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.section {
    padding: 5px 15px; /*--Верхний и нижний паддинги для красоты и безопасности--*/
    max-width: calc(1335px + 15px*2);
    margin: 0 auto;
}